<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.graduate.dao.HashphaDao" >
  <resultMap id="BaseResultMap" type="com.graduate.entity.Hashpha" >
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="hash" property="hash" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, hash
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.graduate.entity.HashphaExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from HashPHA
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.graduate.entity.HashphaExample" >
    delete from HashPHA
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.graduate.entity.Hashpha" >
    insert into HashPHA (id, hash)
    values (#{id,jdbcType=INTEGER}, #{hash,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.graduate.entity.Hashpha" >
    insert into HashPHA
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="hash != null" >
        hash,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="hash != null" >
        #{hash,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.graduate.entity.HashphaExample" resultType="java.lang.Integer" >
    select count(*) from HashPHA
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update HashPHA
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.hash != null" >
        hash = #{record.hash,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update HashPHA
    set id = #{record.id,jdbcType=INTEGER},
      hash = #{record.hash,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <!--以下为自己添加的查询语句-->
  <select id="selectDump" resultMap="BaseResultMap" >
    Select Image.id, HashCVA.hash as cvaHash, HashPHA.hash as phaHash, detail
    From HashCVA, Image, HashPHA
    Where Image.id = HashCVA.id and Image.id = HashPHA.id
    and HashCVA.hash In (Select hash From HashCVA Group By hash Having Count(*)>1)
     and HashPHA.hash In (Select hash From HashPHA Group By hash Having Count(*)>1)
      order by HashCVA.hash;
  </select>

  <select id="selectHash" resultType="com.graduate.entity.Image"
          parameterType="com.graduate.entity.HashPack">
    select DISTINCT Image.id, Image.detail, Image.location from Image, HashCVA, HashPHA WHERE
    Image.id = HashCVA.id and Image.id = HashPHA.id
    <if test="hashCva!=null">
      and HashCVA.hash = #{hashCva,jdbcType=INTEGER}
    </if>
    <if test="hashPha!=null">
      and HashPHA.hash = #{hashPha,jdbcType=INTEGER}
    </if>
  </select>

</mapper>